@import "../vars";

.gallery, .gallery__header {
  color: white;
}
.gallery__item {
  display: inline-block;
  margin: 30px 0;
  text-align: center;
  & + figure {
    margin-left: 40px;
  }
}
.gallery__link:hover {
  color: $orange;
}
.gallery__title {
  margin: 20px 0;
  font-weight: bold;
}

// https://codepen.io/felicia/pen/qKhJt
.gallery__overlay {
  background: rgba(47,145,234,0.8);
  opacity: 0;
  transition: opacity .5s ease;
}
.gallery__img:hover .gallery__overlay {
  opacity: 1;
}
.gallery__plus {
  font: normal 80px serif;
  color: white;
}
