<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="andy-pro.github.io">
    <meta name="author" content="AndyPro">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link media="screen" href="main.css" rel="stylesheet">
    <script src="public/js/tmpl.js"></script>
    <title>andy-pro.github.io</title>
    <!--[if lt IE 9]>
      <script src="public/js/respond-1.4.2.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="main"></div>

    <div class="footer">
      <a href="https://github.com/andy-pro?tab=repositories">&copy; andy-pro 2016</a>
    </div>

    <script type="text/template" id="menuTmpl">
      <% for (var i = 0; i < volumes.length; i++) {
        var volume = volumes[i]; %>
        <div>
          <h3><%= volume.title %></h3>
          <ul>
            <% for (var j = 0; j < volume.lessons.length; j++) {
              var lesson = volume.lessons[j]; %>
              <li>
                <a href="<%= lesson.href %>"><%= lesson.title %></a>
                <a href="<%= src_prefix %><%= lesson.href %>" class="src-link" target="_blank" title="Source code"></a>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </script>

    <script type="text/javascript">
      var data = {
        src_prefix: 'https://github.com/andy-pro/andy-pro.github.io/tree/master/',
        volumes: [
          {
            title: 'Apps',
            lessons: [
              {href: 'react_redux_github', title: 'React-Redux Github API'},
              {href: 'react_tiles-game', title: 'Tiles Classic Game'},
              {href: 'react_to-do', title: 'To Do Classic App'},
              {href: 'furniture-catalog', title: 'Furniture Catalog'}
            ]
          }, {
            title: 'JavaScript',
            lessons: [
              {href: 'js_01', title: '01 - Math.pow'},
              {href: 'js_02', title: '02 - Users database'},
              {href: 'js_03-04', title: '03 - Test - Create elements'},
              {href: 'js_05-06', title: '05 - Stop Watch Timer'},
              {href: 'js_05-06-bonus', title: '06 - Stop &amp; Split'},
              {href: 'js_07-08', title: '07 - Tabs &amp; Tooltips'},
              {href: 'js_09', title: '09 - jCarousel'},
              {href: 'js_10', title: '10 - Checkboxes'},
              {href: 'js_11', title: '11 - Car-Ousel'},
              {href: '', title: '12 - Template Resig'},
              {href: 'js_12-bonus', title: '12 - LoDash Templating'},
              {href: 'js_13-14', title: '14 - Test'},
              {href: 'js_15', title: '15 - GitHub API'},
              {href: 'js_16', title: '16 - SVG Menu Demo'},
              {href: 'js_17-18/index-grunt.html', title: '17 - Grunt'},
              {href: 'js_17-18/index-gulp.html', title: '18 - Gulp'},
              {href: 'js_19', title: '19 - Build Home'},
              {href: 'js_20', title: '20 - LoDash Collections'},
              {href: 'js_21-22', title: '21 - Component testing'},
              {href: 'js_23', title: '23 - To Do List MVC'},
              {href: 'js_24', title: '24 - To Do List MVC PubSub'},
              {href: 'js_final_exam', title: "It's a Final Exam"}
            ]
          }, {
            title: 'HTML',
            lessons: [
              {href: 'html_03', title: '03 - Fitness'},
              {href: 'html_03-bonus', title: '03 - Asia Holidays'},
              {href: 'html_04', title: '04 - Asia Holidays Maldives'},
              {href: 'html_05', title: '05 - Cadastre'},
              {href: 'html_05-table', title: '05 - Piet-Mondriaan'},
              {href: 'html_06', title: '06 - Zazor.com.ua'},
              {href: 'html_07', title: '07 - PINGBULLER'},
              {href: '404.html', title: '404 (симпатяга из MDN)'}
            ]
          }
        ]
      };
      main.innerHTML = tmpl("menuTmpl", data);
    </script>

  </body>

</html>
