extends ./layout

//- mixins

block title
  title Lodash Collections

block content
  include ./flash/index
  .object-shower.col-1-3.m-center
    a.close(href='/')
    h1 Lodash Collections
  .col-1-2.input-data
  .col-1-2.output-data
