.slider {
  float: left;
  background-color: #ff8523;
  margin-bottom: 10px;
  @include respond-to(mobile) {
    margin-left: 0!important;
  }
  & + .slider {
    margin-left: 20px;
  }
}
.slider__slot {
  position: relative;
  // margin: 6px;
  font-size: 0;
  background-position: center;
}

.slider, .slider__slot {
  @include respond-to(desktop) {
    width: 300px;
    height: 400px;
  }
  @include respond-to(tablet) {
    width: 236px;
    height: 400px;
  }
  @include respond-to(mobile) {
    width: 300px;
    height: 242px;
  }
}

.owl-prev, .owl-next {
  @include respond-to(desktop) {
    top: 130px;
  }
  @include respond-to(tablet) {
    top: 40px;
  }
  @include respond-to(mobile) {
    display: none;
  }
}

.slider__filter, .slider__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider__filter {
  top: 0;
  // background-color: rgba(255,0,0,0.5);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  border-radius: 4px;
}
.slider__footer {
  padding: 16px;
}
.slider__title {
  // font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 16px 0;
}
.slider_txt {
  font-size: 13px;
  color: #ccc;
}
