.slider {
  background-color: #ff8523;
  margin: 0 auto 10px;
  @include respond-to(gte-tablet) {
    &:first-child{
      position: absolute;
      top: 0;
      left: 0;
    }
    &:first-child + & + & {
    // &:last-child { // not ork in ie8
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.max-margin {
  display: inline-block;
  max-width: 10px;
}
.slider__slot {
  position: relative;
  font-size: 0;
  background-position: center;
}
.slider, .slider__slot {
  height: 400px;
  width: 300px;
  @include respond-to(tablet) {
    width: 236px;
  }
  @include respond-to(mobile) {
    height: 242px;
  }
}
.owl-prev, .owl-next {
  top: 130px;
  @include respond-to(tablet) {
    top: 10px;
  }
  @include respond-to(mobile) {
    display: none;
  }
}
.slider__filter, .slider__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider__filter {
  top: 0;
  // background-color: rgba(255,0,0,0.5);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  border-radius: 4px;
}
.ie8 .slider__filter {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#D0000000)";
}
.slider__footer {
  padding: 20px 18px;
}
.slider__title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 14px 0 12px;
}
.slider_txt {
  font-size: 13px;
  color: #ccc;
}
