mixin Slider(items)
  each item in items
    .slider__slot(style='background-image:url(dist/img/slider/' + item.img + ');')
      .slider__filter
      .slider__footer
        button.btn--red.btn--sm= item.step
        .slider__title= item.title
        .slider_txt= item.txt
