doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../public/bower_components/font-awesome/css/font-awesome.min.css")
    block title
      title Document
  body
    block content
      content Hello world!

    script(src="../public/bower_components/react/react-with-addons.min.js")
    script(src="../public/bower_components/react/react-dom.min.js")
    script(src="dist/js/main.js")
