body {
    padding-top: 50px;
    background: #eaeaea url('bg.png');
}
figure a:link {color: #000055;}
figure a:visited {color: #550055;}
figure a:hover {color: #550055;}
.blockshd {box-shadow: 7px 7px 10px rgba(0,0,0,0.8);}
.textsm {text-align:left; font-size: 11pt; color: #000055;}
figure  { 
	float: left;
	margin: 8px 55px 15px 10px;
	width: auto;
	height: 180px;
}
legend {
	text-align: center; 
  margin: 12px 0px 0px 0px;
  font-size: 14px;
}
#header {
  background: #ccc;	
  padding: 10px;
	margin: 0px 5px 10px 185px;
  text-align: center; 
  font-size: 14pt; 
  color: #552200; 
  font-weight: bold;
}
#leftsidebar {
  /*padding: 5px;*/
	position: fixed;
  width: 165px;
  left: 12px;
}
#centerbar {
  width: 400px;
  padding: 10px;
  margin: auto;
  /* background: #fc0; */
}
#logo {
  padding: 15px;
	margin: 15px 0px 0px 0px;
   background: #69c;
}
#content {
	margin: 0px 5px 10px 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#menu {
  /* padding: 5px 0px 5px 0px; */
  /* line-height: 25px; */
  background: #ddd;
}
#menu ul {
  /* padding: 5px; */
  /* margin: 10px; */  
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
}
#menu li{
  /* display: inline; */
  list-style:  none;
  padding: 10px;
  /* margin: 5px 5px; */
}
#menu li a {
  /* padding:5px 0px; */
  color: #333;
  text-decoration: none;
}
#menu li a:hover{
  display: block;
  /* background: #aaa; */
  /* color: #ff0; */
  text-decoration: none;
}
.footer {
  background: none repeat scroll 0 0 #555;
  padding: 15px;
  bottom: 0;
  color: #ccc;
  height: 30px;
  position: absolute;
  width: 96%;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
a.ahome{
  background-color: #49d;
  color: #fff;
}
a.ahome:hover { background-color: #59b !important; }
a.ahome:focus { background-color: #59b !important; }

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.box-shadow-8 {
    box-shadow: 7px 7px 10px rgba(0,0,0,0.8)
}
