mixin titleShower(data)
  .title-shower(id!=attributes.id)
    each item in data.items
      .title-shower__title
        .title-shower__ground
        .title-shower__ground
        .title-shower__text= item.title
