.header {
  background: #966 url('img/header/bg-1440.jpg') center 0 no-repeat;
  color: white;
  // height: 700px;
  height: 300px;
}
.header__title {
  color: white;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
