header.header
  .container
    .center
      .header__auth
        button.btn--empty.btn--md Log in
        button.btn--transparent.btn--md Sign up
      a.header__logo(href='/')
        img(src='dist/img/header/logo.png', alt='URLAUBSGLÜCK')
      .header__title Share your
        br
        | holiday dreams
      .header__subtitle And find the perfect partner to fullfill it
      button.btn--red.btn--md Find your holiday partner
