.header {
  background-image: url('img/header/bg-1440.jpg');
  background-color: #966;
  background-position: center 0;
  background-repeat: no-repeat;
  color: white;
  height: 700px;
  @include respond-to(tablet) {
    .container {
      padding: 0 40px;
    }
  }
  @include respond-to(mobile) {
    height: 540px;
    background-image: url('img/header/bg-768.jpg');
  }
  @include respond-to(mobile-portrait) {
    background-image: url('img/header/bg-320.jpg');
  }
}
.header__auth {
  float: right;
  margin-top: 37px;
  @include respond-to(mobile) {
    margin-top: 18px;
  }
}
.header__logo {
  float: left;
  margin-top: 47px;
  @include respond-to(mobile) {
    margin-top: 113px;
  }
}
.header__auth, .header__logo {
  display: inline-block;
  @include respond-to(mobile) {
    float: none;
  }
}
.header__title {
  color: white;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 214px;
  @include respond-to(mobile) {
    font-size: 30px;
    padding-top: 30px;
  }
}
.header__subtitle {
  font: 24px Roboto, sans-serif;
  padding: 23px 0 35px;
  @include respond-to(mobile) {
    font-size: 18px;
    padding: 7px 30px 13px;
  }
}
