header.header
  .container
    .header__logo URLAUBSGLÜCK
    .header__auth
      button.button--empty.button--md Log in
      button.button--transparent.button--md Sign up
    .center
      .header__title Share your
        br
        | holiday dreams
      p And find the perfect partner to fullfill it
      button.button--red.button--md Find your holiday partner
