// close btn
.close {
  font: bold 20px sans-serif;
  float: right;
  margin-top: -6px;
  opacity: 0.3;
  background: none;
  border: none;
  cursor: pointer;
  &:after { content: '×'; }
  &:hover { opacity: 0.6; }
}
