.brief {
  padding: 20px 0;
}
.brief > div{
  display: table-cell;
  vertical-align: top;
}
.brief__index {
  font-size: 90px;
  color: #ddd;
}
.brief__body {
  padding: 30px 20px;
}
.brief__more {
  font-weight: bold;
}
