mixin Accordion(items)
  .accordion(id!=attributes.id class!=attributes.class)
    each item in items
      .accordion__header
        .accordion__status
        .accordion__title= item.title
      p.accordion__text= item.text
