@import "../vars";

.preview-post > div {
  display: table-cell;
  vertical-align: top;
  padding: 0 16px;
}
.preview-post__img {
  position: relative;
  & > div {
    position: absolute;
    top: 13px;
    left: 0;
    font-size: 14px;
  }
}
.preview-post__month, .preview-post__date {
  text-align: center;
  width: 40px;
  padding: 10px 0;
}
.preview-post__month {
  background-color: $blue;
  color: white;
}
.preview-post__date {
  background-color: $orange;
  color: black;
}
.preview-post__info a {
  color: $blue;
}
