background-position: 0px 0px;

background-position: -13px 0px;

background-position: -24px 0px;

background-position: -41px 0px;

background-position: -50px 0px;

background-position: -68px 0px;

background-position: -84px 0px;

background-position: -101px 0px;

background-position: -118px 0px;

background-position: -127px 0px;

background-position: -145px 0px;

background-position: -162px 0px;

background-position: -179px 0px;

background-position: -196px 0px;

background-position: -211px 0px;

background-position: -248px 0px;

background-position: -281px 0px;

background-position: -314px 0px;

// brands

background-position: 0px 0px;

background-position: -144px 0px;

background-position: -288px 0px;

background-position: -473px 0px;

background-position: -617px 0px;

background-position: -761px 0px;
