.menu-social {
  display: inline-block;
  float: right;
}
.menu-social__link {
  background: url(icons.png) 0 0 no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}
