mixin menuSocial
  -
    var items = [
      {href: '//facebook.com', class: 'facebook'},
      {href: '//twitter.com', class: 'twitter'},
      {href: '//rss.com', class: 'rss'},
      {href: '//linkedin.com', class: 'linkedin2'},
      {href: '//skype.com', class: 'skype'}
    ];

  .menu-social
    each item in items
      a.menu-social__link(href=item.href)
        span(class='icon-'+item.class)
