.menu-social {
  margin-top: 44px;
  float: right;
}
.menu-social__link {
  margin-left: 15px;
  color: #ccc;
}
.menu-social__link:hover {
  .icon-facebook  { color: #3B5998; }
  .icon-twitter   { color: #26A6D1; }
  .icon-rss       { color: #F4B459; }
  .icon-linkedin2 { color: #0E76A8; }
  .icon-skype     { color: #00AFF0; }
}
