mixin menuSocial
  -
    var items = [
      {href: '//facebook.com', icon: 'facebook'},
      {href: '//twitter.com', icon: 'twitter'},
      {href: '//rss.com', icon: 'rss'},
      {href: '//linkedin.com', icon: 'linkedin2'},
      {href: '//skype.com', icon: 'skype'}
    ];

  .menu-social
    each item in items
      a.menu-social__link(class='icon-'+item.icon href=item.href)
