//- mixins
include ../menu-v/index

footer.footer
  .container
    a.footer__item.footer__logo(href='/')
      .sprite-footer-logo
    each item in menu_v_data
        +menuV(item)(class='footer__item')
    a.footer__item.footer__designed(href='//www.areto.com') DESIGNED BY
      br
      .sprite-designed-logo
