.footer {
  border-top: 4px solid $red;
  margin-top: 100px;
  padding-bottom: 35px;
  @include respond-to(tablet) {
    .container {
      padding: 0 40px;
    }
  }
  @include respond-to(mobile) {
    margin-top: 35px;
  }
}
.footer__item {
  margin-top: 36px;
  display: inline-block;
  vertical-align: top;
  @include respond-to(mobile) {
    margin-top: 12px;
    display: block;
    text-align: center;
  }
  @include respond-to(gte-tablet) {
    & + .footer__item {
      margin-left: 96px;
    }
  }
}
.footer__designed {
  float: right;
  font-size: 10px;
  font-weight: 700;
  color: #ccc;
  text-align: end;
  @include respond-to(mobile) {
    float: none;
    text-align: center;
  }
  div {
    margin-top: 10px;
  }
}
