- var pageTitle = 'Gulp Frontend Template with Pug(Jade)'
-
  var list = ["Uno3", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]

- var menu_title_1 = "Меню панды"

-
  var menu_items_1 = [{
    text: "Яйца",
    href: "#eggs"
  }, {
    text: "Мясо",
    href: "#meat"
  }, {
    text: "99% еды - бамбук!",
    href: "#bamboo"
  }]

- var menu_title_2 = "Меню осла"

-
  var menu_items_2 = [{
    text: "Овес",
    href: "#eggs"
  }, {
    text: "Ячмень",
    href: "#meat"
  }, {
    text: "99% еды - трава!",
    href: "#bamboo"
  }]
