// buttons
button {
  border-width: 2px;
  border-style: solid;
  border-radius: 18px;
  color: white;
  padding: 0 17px;
  outline: none;
}
.btn--md {
  font: bold 14px/34px Montserrat, sans-serif;
}
.btn--sm {
  font: normal 10px/16px Montserrat, sans-serif;
}
.btn--transparent {
  background-color: transparent;;
  border-color: white;
}
.btn--red {
  background-color: $red;
  border-color: transparent;
}
.btn--transparent--red {
  background-color: transparent;
  border-color: $red;
  color: $red;
}
.btn--mobile {
  @include respond-to(mobile) {
    width: 275px;
  }
}
.btn--empty {
  background-color: transparent;
  border-color: transparent;
  padding: 0 8px;
}
