extends ./layout

//- mixins
include ./slider/index
include ./partners/index

block title
  title= pageTitle

block content

  //- header
  include ./header/index

  main
    .container
      section.wrapper
        .section__title How Urlaubsglück works?
        .slider
          #carousel1.owl-carousel
            +Slider(slider1_data)
        .slider
          #carousel2.owl-carousel
            +Slider(slider2_data)
        .slider
          #carousel3.owl-carousel
            +Slider(slider3_data)

      section.wrapper
        .section__title Meet a partner for your best holiday
        +Partners(partners_data)
        //- with different-sized pictures testing
        //- +Partners(partners_data_test)
        .center
          button.btn--transparent--red.btn--md.btn--mobile See other partners

      section.wrapper
        .section__title Discover holiday activity ideas
        #grid.grid

      .center
        p Hi! What are your holiday interests?
        form#pixplorer
          input(type='text' placeholder='Enter your interests')
          button.btn--red.btn--md.btn--mobile(type='submit') Search partners

  //- footer
  include ./footer/index
