.modal
  .modal__dialog
    i.close(data-action='close')
    h4.modal__title.center
    .modal__body
    .modal__footer
      button.btn-primary(type='button' data-action='ok')
      button.btn-default(type='button' data-action='close') Cancel
