.menu-social {
  margin-top: 44px;
  float: right;
}
.menu-social__link {
  margin-left: 15px;
  color: #ccc;
}
.icon-facebook:hover  { color: #3B5998; }
.icon-twitter:hover   { color: #26A6D1; }
.icon-rss:hover       { color: #F4B459; }
.icon-linkedin2:hover { color: #0E76A8; }
.icon-skype:hover     { color: #00AFF0; }
